@{
    ViewData["Title"] = "Chat Blog";
}

<div>
    <input type="text" id="messageInput" placeholder="Message..." />
    <button onclick="sendMessage(event)">Send</button>
</div>

<ul id="messageBox">
</ul>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
<self-script></self-script>