@{
    ViewData["Title"] = "Chat Blog";
}

<div>
    <input type="text" id="messageInput" placeholder="Message..." />
    <button onclick="sendMessage(event)">Send</button>
</div>

<ul id="messageBox">
</ul>

@section Scripts {
    <!-- SignalR CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.5/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/chat")
            .build();

        connection.on("ReceiveMessage", (message) => {
            const li = document.createElement("li");
            li.textContent = `${message}`;
            document.getElementById("messageBox").appendChild(li);
        });

        async function sendMessage(e) {
            const message = document.getElementById("messageInput").value;
            await connection.invoke("SendMessage", message);
        }

        connection.start();
    </script>
}