@model ChatApp.Application.Authentication.Commands.SignUpCommand
@{
    ViewData["Title"] = "Sign Up";
}
<form id="signUpForm">
    <div id="CustomErrorContainer">
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="FullName"></label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Dob"></label>
        <input asp-for="Dob" class="form-control" type="date" />
        <span asp-validation-for="Dob" class="text-danger"></span>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="Dob" class="text-danger"></span>
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <!-- Repeat Password input -->
    <div class="form-outline mb-4">
        <label class="form-label" asp-for="RepeatPassword"></label>
        <input asp-for="RepeatPassword" class="form-control" type="password" />
        <span asp-validation-for="RepeatPassword" class="text-danger"></span>
    </div>

    <!-- Submit button -->
    <button type="button" class="btn btn-primary btn-block mb-3" onclick="OnSubmitRegisterForm(event)">Sign in</button>
</form>
<self-script></self-script>