<div id="memberContextMenu">
    <ul class="menu-container">
        <li class="menu-item" data-action="create-invitation">Chia sẻ nhóm chat</li>
        <li class="menu-item" data-action="remove-conversation">Xoá trò chuyện</li>
    </ul>
</div>